;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]
 
 :dev-http {8080 "../resources/public"}

 :dependencies
 [[reagent "1.2.0"]]

 :builds
 {:client {:target :browser
           :output-dir "../resources/public/assets/js/client"
           :modules {:main {:entries [com.bhlie.nia.v2.data]}}}}}
